<app-auth-wrapper icon="lock_reset" *transloco="let t">
  <ng-container heading>{{ t('auth.forgotPasswordPage.title') }}</ng-container>
  <ng-container>
    @if (isRequestSucceed()) {
      <p-message severity="success">{{ t('auth.forgotPasswordPage.messages.success') }}</p-message>
      <div class="mt-(--p-custom-primitive-spacing-3) text-(--p-text-color-subtle)">
        <div>
          {{ t('auth.forgotPasswordPage.additional.resendEmail.label') }}
          <button
            pButton
            type="button"
            variant="text"
            [disabled]="isLoading() || isOnCooldown()"
            (click)="onSubmit(); setClickCooldown()"
          >
            {{ t('auth.forgotPasswordPage.additional.resendEmail.button') }}
          </button>
        </div>
        <span
          [style.opacity]="isOnCooldown() ? '1' : '0'"
          class="transition-[opacity] duration-[300ms]"
        >
          {{ t('auth.forgotPasswordPage.additional.resendEmail.lead') }}
          <span
            class="font-(weight:--p-custom-primitive-font-weight-500) text-(--p-text-color-muted)"
            >{{ cooldownMs() | date: 'mm:ss' }}</span
          >
        </span>
      </div>
    } @else {
      <form [formGroup]="requestPasswordResetForm" (ngSubmit)="onSubmit()">
        <div class="form-fields">
          <ombro-input-text
            type="email"
            [label]="t('common.entities.user.email')"
            formControlName="email"
          />
        </div>
        <app-auth-form-buttons [isDisabled]="isLoading()" (secondaryClick)="onCancel()">
          <ng-container>{{ t('auth.forgotPasswordPage.form.submitBtn') }}</ng-container>
          <ng-container secondary #secondaryBtn>{{ t('common.buttons.cancel') }}</ng-container>
        </app-auth-form-buttons>
      </form>
    }
  </ng-container>
</app-auth-wrapper>
