<app-auth-wrapper icon="lock_reset">
  <ng-container heading>Zresetuj swoje hasło</ng-container>
  <ng-container>
    @if (isRequestSucceed()) {
      <p-message severity="success">
        Gotowe! Instrukcje resetowania hasła są już w drodze na Twoją skrzynkę.
      </p-message>
      <div class="mt-(--p-spacing-3) text-(--p-text-color-subtle)">
        <div>
          E-mail nie przyszedł?
          <button
            pButton
            type="button"
            [text]="true"
            [disabled]="isLoading() || isOnCooldown()"
            (click)="onSubmit(); setClickCooldown()"
          >
            Wyślij jeszcze raz
          </button>
        </div>
        <span
          [style.opacity]="isOnCooldown() ? '1' : '0'"
          class="transition-[opacity] duration-[300ms]"
        >
          Ponowne wysłanie dostępne za:
          <span class="text-(--p-text-color-muted) font-(weight:--p-font-weight-500)">{{
            cooldownMs() | date: 'mm:ss'
          }}</span>
        </span>
      </div>
    } @else {
      <form [formGroup]="requestPasswordResetForm" (ngSubmit)="onSubmit()">
        <div class="form-fields">
          <ombro-input-text type="email" label="E-mail" formControlName="email" />
        </div>
        <app-auth-form-buttons [isDisabled]="isLoading()" (secondaryClick)="onCancel()">
          <ng-container>Wyślij link</ng-container>
          <ng-container secondary #secondaryBtn>Anuluj</ng-container>
        </app-auth-form-buttons>
      </form>
    }
  </ng-container>
</app-auth-wrapper>
