<app-auth-wrapper icon="verified_user" *transloco="let t">
  <ng-container heading>{{ t('auth.confirmAccountPage.title') }}</ng-container>
  <ng-container>
    @if (neededFormFields.length > 0) {
      <form [formRoot]="form">
        <div class="form-fields">
          @for (field of neededFormFields; track field) {
            @switch (field) {
              @case ('handleName') {
                <ombro-input-text
                  [label]="t('common.forms.labels.newHandle')"
                  [formField]="form.handleName!"
                />
              }
              @case ('password') {
                <ombro-input-text
                  type="password"
                  [label]="t('common.forms.labels.newPassword')"
                  [showPasswordStrength]="true"
                  [allowedPasswordScore]="minPasswordStrength"
                  (passwordStrengthScore)="handlePasswordStrength($event)"
                  [formField]="form.password!"
                />
                <ombro-input-text
                  type="password"
                  [label]="t('common.forms.labels.repeatNewPassword')"
                  [formField]="form.confirmPassword!"
                />
              }
            }
          }
        </div>
        <app-auth-form-buttons [isDisabled]="isLoading()">{{
          t('common.buttons.confirm')
        }}</app-auth-form-buttons>
      </form>
    } @else if (neededFormFields.length === 0 && isLoading()) {
      <div class="flex justify-center">
        <p-progress-spinner [aria-label]="progressSpinnerAriaLabel()" />
      </div>
    }
  </ng-container>
</app-auth-wrapper>
