# App
APP_MAIN_DOMAIN=localhost
APP_MEDIA_DOMAIN=localhost
ADMIN_UPLOAD_FILE_MAX_SIZE_MB=50

# Backend
NODE_ENV=dev # Value: test|dev|prod
API_PORT=3000

# Security (backend)
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
REQUEST_BASE_DELAY=50
REQUEST_JITTER=20

# DB
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db-name
POSTGRES_URL=postgresql://user:password@db:5432/db-name # Url schema: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# seaweedfs (S3)
SEAWEEDFS_FILER_PORT=8888
SEAWEEDFS_S3_PORT=8333
SEAWEEDFS_S3_ACCESS_KEY=user
SEAWEEDFS_S3_SECRET_KEY=password

# Redis
REDIS_QUEUE_HOST=redis-queue
REDIS_QUEUE_PORT=6379
REDIS_QUEUE_MAX_MEMORY=512mb
REDIS_QUEUE_PASSWORD=password

# Email
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_IS_SECURE=false
EMAIL_SENDER=test@example.com
EMAIL_PASSWORD=test-password
EMAIL_RECIPIENT=test@example.com

# NGINX
NGINX_PORT=80
FRONTEND_ADMIN_PORT=80
FRONTEND_WEB_PORT=80
BACKEND_SLUG=api/v1
FRONTEND_ADMIN_SLUG=admin
FRONTEND_WEB_SLUG=
SEAWEEDFS_FILER_SLUG=s3
PUBLIC_ASSETS_SLUG=public-assets
SSL_ENABLED=false
SSL_CERT_NAME="example.crt"
SSL_KEY_NAME="example.key"
HSTS_MAX_AGE=60

# Initial admin account (seeding)
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=SuperSecurePassword123!