# App
APP_MAIN_DOMAIN=localhost
APP_MEDIA_DOMAIN=localhost

# Backend
NODE_ENV=dev # Value: test|dev|prod
API_PORT=3000

# Security (backend)
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
REQUEST_BASE_DELAY=50
REQUEST_JITTER=20

# DB
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db-name
POSTGRES_URL="postgresql://user:password@localhost/db-name" # Url schema: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

# minIO (S3)
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=user
MINIO_SECRET_KEY=password
MINIO_BUCKET_ADMIN=private
MINIO_BUCKET_PUBLIC=public

# Email
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_IS_SECURE=false
EMAIL_SENDER=test@example.com
EMAIL_PASSWORD=test-password
EMAIL_RECIPIENT=test@example.com

# NGINX
NGINX_PORT=80
RATE_LIMIT_ENABLED=false
UPLOAD_FILE_MAX_SIZE=50m
SSL_ENABLED=false
SSL_CERT_NAME="example.crt"
SSL_KEY_NAME="example.key"
HSTS_MAX_AGE=60