{
  "$schema": "https://swc.rs/schema.json",
  "exclude": [
    ".*\\.spec\\.ts$",
    ".*/__mocks__/.*",
    ".*/generated/prisma-client/.*"
  ],
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "transform": { "decoratorMetadata": true },
    "minify": {
      "compress": {
        "dead_code": true,
        "unused": true,
        "conditionals": true,
        "evaluate": true
      },
      "mangle": false
    },
    "target": "es2023"
  }
}
