<nav
  class="rounded-(--p-border-radius-xl) p-(--p-custom-primitive-spacing-4)"
  [aria-label]="ariaLabel()"
  *transloco="let t"
>
  <div class="flex flex-col gap-(--p-custom-primitive-spacing-1-5)">
    <span
      class="text-(length:--p-custom-primitive-size-14) font-(--p-custom-primitive-font-weight-600) text-(--p-primary-100)"
    >
      {{ displayName() ?? '' }}
    </span>
    <span
      class="text-(length:--p-custom-primitive-size-12) text-(--p-custom-primitive-color-muted-blue-300)"
    >
      {{ handleName() !== null ? '@' + handleName() : '' }}
    </span>
  </div>
  <ul
    class="mt-(--p-custom-primitive-spacing-3) flex flex-col gap-(--p-custom-primitive-spacing-1)"
  >
    @for (item of navItems; track $index) {
      <li>
        @if (item.path) {
          <a [routerLink]="item.path" class="menu-item item">
            <ng-container
              *ngTemplateOutlet="itemTemplate; context: { $implicit: t, menuItem: item }"
            />
          </a>
        } @else if (item.action) {
          <button (click)="item.action()" class="menu-item item">
            <ng-container
              *ngTemplateOutlet="itemTemplate; context: { $implicit: t, menuItem: item }"
            />
          </button>
        } @else {
          <div class="menu-item">
            <ng-container
              *ngTemplateOutlet="itemTemplate; context: { $implicit: t, menuItem: item }"
            />
          </div>
        }
      </li>
    }
  </ul>
</nav>

<ng-template #itemTemplate let-t let-item="menuItem">
  @if (item.icon) {
    <ombro-icon
      [name]="item.icon"
      [size]="20"
      class="text-(--p-custom-primitive-color-muted-blue-300)"
    />
  }
  <span class="text-(length:--p-custom-primitive-size-13) text-(--p-primary-100)">{{
    t(item.name)
  }}</span>
</ng-template>
