@use '../../../../shared/menu-items.scss';

$bgColor: var(--p-grey-700) 60%;
$shadowOffsetX: var(--p-shadow-offset--2);
$shadowOffsetY: var(--p-shadow-offset-4);
$shadowBlur: var(--p-blur-lg);
$shadowColor: var(--p-misc-shadow-color-default);

:host {
  background-color: color-mix(in srgb, $bgColor, transparent);
  box-shadow: $shadowOffsetX $shadowOffsetY $shadowBlur $shadowColor;
}
