<nav class="p-(--p-spacing-4) rounded-(--p-radius-xl)" [aria-label]="ariaLabel()">
  <div class="gap-(--p-spacing-1-5) flex flex-col">
    <span class="text-(--p-primary-100) text-(length:--p-size-14) font-(--p-font-weight-600)">
      {{ displayName() }}
    </span>
    <span class="text-(--p-muted-blue-300) text-(length:--p-size-12)">
      {{ '@' + handleName() }}
    </span>
  </div>
  <ul class="mt-(--p-spacing-3) gap-(--p-spacing-1) flex flex-col">
    @for (item of navItems; track $index) {
      <li>
        <a
          [routerLink]="item.path"
          class="menu-item rounded-(--p-radius-lg) hover:no-underline! min-h-[3rem] px-[0.5rem] hover:bg-[#ffffff14]"
        >
          @if (item.icon) {
            <ombro-icon [name]="item.icon" [size]="20" class="text-(--p-muted-blue-300)" />
          }
          <span class="text-(length:--p-size-13) text-(--p-primary-100)">{{ item.name }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
