@use '../../../../shared/menu-items.scss';

$bgColor: var(--p-custom-primitive-color-grey-700) 60%;
$shadowOffsetX: var(--p-custom-primitive-shadow-offset--2);
$shadowOffsetY: var(--p-custom-primitive-shadow-offset-4);
$shadowBlur: var(--p-custom-primitive-blur-lg);
$shadowColor: var(--p-custom-semantic-misc-shadow-color-default);

:host {
  background-color: color-mix(in srgb, $bgColor, transparent);
  box-shadow: $shadowOffsetX $shadowOffsetY $shadowBlur $shadowColor;
}

.item {
  border-radius: var(--p-border-radius-lg);
  min-height: 3rem;
  padding-inline: 0.5rem;
  cursor: pointer;

  &:hover {
    text-decoration: none !important;
    background-color: #ffffff14;
  }
}
