@use 'sass:map';
@use './styles/variables';
@use './styles/functions';
@use '../../../libs/themes/src/lib/themes/default/default-theme.scss';

@use 'tailwindcss';
@plugin 'tailwindcss-primeui';

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

body {
  font-family: 'Onest', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: functions.rem(variables.$body-font-size);
}

@each $tag, $styles in variables.$headings-config {
  #{$tag} {
    font-size: functions.rem(map.get($styles, 'size'));
    font-weight: map.get($styles, 'weight');
    line-height: map.get($styles, 'line-height');
    @if map.has-key($styles, 'letter-spacing') {
      letter-spacing: map.get($styles, 'letter-spacing');
    }
    margin: 0;
  }
}

p {
  margin: 0;
  line-height: 1.5;
}
