valid_referers none blocked server_names *.${NGINX_HOST} ${NGINX_HOST} *.google.com *.gstatic.com *.bing.com *bing.net *.ecosia.org *.qwant.com *.duckduckgo.com;

if($invalid_referer) {
  return 403
}