<app-auth-wrapper icon="lock_open" *transloco="let t">
  <ng-container heading>{{ t('auth.resetPasswordPage.title') }}</ng-container>
  <ng-container>
    @if (isRequestSucceed()) {
      <p-message severity="success">
        {{ t('auth.resetPasswordPage.messages.success') }}<br />
        <a [routerLink]="LOGIN_LINK">→ {{ t('common.nav.signInPage') }}</a>
      </p-message>
    } @else {
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-fields">
          <ombro-input-text
            type="password"
            [label]="t('common.forms.labels.newPassword')"
            [showPasswordStrength]="true"
            [allowedPasswordScore]="minPasswordStrength"
            (passwordStrengthScore)="handlePasswordStrength($event)"
            formControlName="newPassword"
          />
          <ombro-input-text
            type="password"
            [label]="t('common.forms.labels.repeatNewPassword')"
            formControlName="confirmNewPassword"
          />
        </div>
        <app-auth-form-buttons [isDisabled]="isLoading()">{{
          t('common.forms.buttons.changePassword')
        }}</app-auth-form-buttons>
      </form>
    }
  </ng-container>
</app-auth-wrapper>
