<app-auth-wrapper icon="lock_open">
  <ng-container heading>Ustaw nowe hasło</ng-container>
  <ng-container>
    @if (isRequestSucceed()) {
      <p-message severity="success">
        Sukces! Twoje hasło zostało zmienione.<br />
        <a [routerLink]="LOGIN_LINK">→ Strona logowania</a>
      </p-message>
    } @else {
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-fields">
          <ombro-input-text
            type="password"
            label="Nowe hasło"
            [showPasswordStrength]="true"
            [allowedPasswordScore]="minPasswordStrength"
            (passwordStrengthScore)="handlePasswordStrength($event)"
            formControlName="newPassword"
          />
          <ombro-input-text
            type="password"
            label="Powtórz nowe hasło"
            formControlName="confirmNewPassword"
          />
        </div>
        <app-auth-form-buttons>Zmień hasło</app-auth-form-buttons>
      </form>
    }
  </ng-container>
</app-auth-wrapper>
