<ombro-primitive-dialog
  [(isVisible)]="isVisible"
  [modal]="true"
  [closable]="false"
  [closeOnEscape]="false"
  [draggable]="false"
  [focusOnShow]="false"
  [blockScroll]="true"
  headerIcon="account_circle_off"
  [severity]="severity()"
  (onHide)="close()"
  *transloco="let t"
>
  <span header>{{ t('panel.dialogs.sessionExpired.heading') }}</span>
  <p>{{ t('panel.dialogs.sessionExpired.content') }}</p>
  <button
    footer
    pButton
    type="button"
    [severity]="severity()"
    (click)="close()"
    class="text-(length:--p-dialog-additional-button-font-size)"
  >
    {{ t('panel.dialogs.sessionExpired.buttons.primary') }}
  </button>
</ombro-primitive-dialog>
