$panelBackground: var(--p-surface-panel-bg-color);
$panelBorderWidth: var(--p-surface-panel-border-width);
$panelBorderStyle: var(--p-surface-panel-border-style);
$panelBorderColor: var(--p-surface-panel-border-color);
$panelBorderRadius: var(--p-surface-panel-border-radius);
$panelBgBlur: blur(var(--p-surface-panel-bg-blur));
$transitionDuration: 350ms;

.layout,
.panel {
  --transition-duration: #{$transitionDuration};
}

.panel {
  position: relative;
  background-color: $panelBackground;
  border-radius: $panelBorderRadius;
  backdrop-filter: $panelBgBlur;
}

.panel::before {
  content: '';
  position: absolute;
  inset: 0;

  border: $panelBorderWidth $panelBorderStyle $panelBorderColor;
  border-radius: inherit;

  pointer-events: none;
}
