<aside
  class="panel flex h-full flex-col items-center px-(--p-custom-primitive-spacing-2) py-(--p-custom-primitive-spacing-5)"
  *transloco="let t"
>
  <app-logo
    [variant]="isCollapsed() ? 'lettermark' : 'wordmark'"
    class="mb-(--p-custom-primitive-spacing-6) min-h-[25px]"
  />
  <nav class="flex w-full flex-col overflow-y-auto" [aria-label]="navAriaLabel()">
    <ul
      class="flex flex-col gap-(--p-custom-primitive-spacing-1) text-(length:--p-custom-semantic-font-size-body-md) font-(weight:--p-custom-primitive-font-weight-500) text-(--p-primary-300)"
      [style.--side-menu-active-color]="'var(--p-primary-300)'"
    >
      @for (item of menuItems(); track $index) {
        <li>
          @if (item.isActive) {
            <ng-container
              *ngTemplateOutlet="itemTemplate; context: { $implicit: t, menuItem: item }"
            />
          } @else {
            <a
              [routerLink]="item.link"
              class="block text-(--p-text-color-subtle) hover:no-underline!"
            >
              <ng-container
                *ngTemplateOutlet="itemTemplate; context: { $implicit: t, menuItem: item }"
              />
            </a>
          }
        </li>
      }
    </ul>
  </nav>
  <button
    class="bg-primary-500 absolute top-[40px] left-[100%] flex h-[45px] w-[1rem] cursor-pointer justify-end overflow-hidden rounded-r-(--p-border-radius-md) text-(--p-text-color-emphasis) transition-[width] duration-(--transition-duration) hover:w-[1.25rem]"
    (click)="changeMenuStatus()"
  >
    <ombro-icon
      name="chevron_backward"
      [size]="16"
      [weight]="500"
      [class]="isCollapsed() ? 'rotate-180' : 'rotate-0'"
      class="transition-rotate duration-(--transition-duration)"
    />
  </button>
</aside>

<ng-template #itemTemplate let-t let-item="menuItem">
  @let icon = item.icon;
  @let iconSize = 20;
  @let animationDurationMs = 200;
  <div
    class="transition-background ease flex min-h-[3rem] gap-(--p-custom-primitive-spacing-4) rounded-(--p-border-radius-lg) duration-(--side-menu-item-transition-duration)"
    [class]="item.isActive ? '' : 'hover:bg-[#ffffff14]'"
    [style.--side-menu-item-transition-duration.ms]="animationDurationMs"
  >
    <span
      class="transition-width shrink-0 self-stretch rounded-[5px] bg-(--side-menu-active-color) duration-(--side-menu-item-transition-duration)"
      [class]="item.isActive ? 'w-[4px]' : 'w-[0px]'"
    ></span>
    <div class="menu-item">
      @if (icon) {
        <ombro-icon
          [name]="icon"
          [size]="iconSize"
          class="duration(--side-menu-item-transition-duration) transition-transform ease-in-out"
        />
      }
      <span
        class="whitespace-nowrap transition-[max-width,opacity] duration-(--side-menu-item-transition-duration) ease-in-out"
        [class]="
          isCollapsed() && icon
            ? 'max-w-[0] opacity-[0]'
            : 'itemTextTransitionDelay max-w-[10rem] opacity-[100]'
        "
      >
        {{ t(item.name) }}
      </span>
    </div>
  </div>
</ng-template>
