<app-auth-wrapper icon="login">
  <ng-container heading>Logowanie</ng-container>
  <ng-container>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="form-fields">
          <ombro-input-text
            label="Nazwa użytkownika lub e-mail"
            autocomplete="username"
            formControlName="login"
            (keydown.space)="$event.preventDefault()"
          />
          <ombro-input-text
            label="Hasło"
            type="password"
            autocomplete="current-password"
            formControlName="password"
          />
        </div>
        <div class="mt-(--p-spacing-2) text-right">
          <a [routerLink]="passwordResetLink">Nie pamiętasz hasła?</a>
        </div>
      </div>
      <app-auth-form-buttons [isDisabled]="isLoading()">Zaloguj się</app-auth-form-buttons>
    </form>
  </ng-container>
</app-auth-wrapper>
